body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eef2f7;
    margin: 0;
    padding: 40px;
    justify-content: center;
    display: flex;
}
.form-box {
    width: 100%;
    max-width: 320px;
    margin: 50px auto;
    padding: 30px;
    border: 1px solid #ccc;

}
form {
    width: 100%;
}
input, button{
    display: block;
    width: 100%;
    padding: 8px;
    margin: 10px 0;
}
button{
    background-color: rgb(64, 0, 255);
    padding: 12px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background-color: deepskyblue;
    color: white;
}