ul {list-style-type: none;
margin: 0;
padding: 0; 
background-color: rgb(43, 227, 43);
overflow:hidden;
}
li {float: left;}
li a {padding: 10px; 
    text-decoration: none; 
    color: white;
    display: block;
    text-align: center;
}
li a:hover {background-color: rgb(0, 0, 0);}