 h1 {
            text-align: center;
            color: rgb(0, 0, 0);
            font-family: dejaVu sans, sans-serif;
            font-size: 36px;
        }

table {
            width: 80%;
            border-collapse: collapse;
            padding: 10px;
            margin-left: auto;
            margin-right: auto;
            font-family: Arial, Helvetica, sans-serif;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
            color: rgb(149, 176, 14) ;
            background-color: #000000;
        }

        th {
            background-color: #f2f2f2;
        }

 p {
            font-size: 18px;
            color: rgb(0, 0, 0);
            font-family: Arial, sans-serif;
        }

.fruits{
    background-color: #aac814;
    border: 3px dotted black;
    text-align: center;
    padding: 20px;
    margin: 20px;
    font-size: 25px;
}
.cars{
    background-color: #14a8c8;
    border: 3px solid chartreuse;
    text-align: right;
    padding: 20px;
    margin: 20px;
    font: 1em sans-serif;
}
#computers{
    background-color: #c8148e;
    border: 5px double yellow;
    text-align: left;
    padding: 20px;
    margin: 20px;
    font-family: 'Courier New', Courier, monospace;
}