* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
header {
  display: flex;
  align-items: center;
  margin: 20px;
  padding: 0;
  justify-content: space-between;
}
ul {
  list-style-type: none;
}
.icon {
  font-size: 30px;
}
span {
  color: red;
}
nav ul {
  display: flex;
}
nav ul li a {
  padding-left: 20px;
}
a {
  text-decoration: none;
}
nav a {
  color: rgba(0, 0, 0, 0.5);
}
nav a:hover {
  text-decoration: underline red;
}
.button {
  background-color: rgb(255, 0, 0);
  color: rgba(255, 255, 255, 0.973);
  padding: 10px 25px;
  border-radius: 100px;
}
.button:hover {
  color: black;
}
.hero-box {
  background-color: rgba(233, 233, 233, 0.644);
  overflow: hidden;
  background-position: center;
  max-height: 550px;
  background-size: cover;
}
.hero-image {
  float: right;
  padding-right: 60px;
  padding-top: 80px;
}
.hero-content h2 {
  font-weight: 300;
  font-family: cursive;
}
.about {
  margin-top: 60px;
  text-align: center;
}
.about h2 {
  font-weight: 100;
}
.hero-content {
  padding-top: 13%;
  padding-left: 45px;
}
.learn h2 {
  font-family: cursive;
}
.about p {
  color: rgba(0, 0, 0, 0.5);
}
.video {
  text-decoration: none;
  color: black;
}
.video:hover {
  text-decoration: underline red;
  color: red;
}
img {
  margin-bottom: 800px;
}
.hero-buttons {
  padding-top: 20px;
}
.hero-buttons a {
  padding-left: 30px;
}
.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
  vertical-align: middle;
  padding: 0 5px;
}
